.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

header {
  align-self: center;
  font-weight: bold;
  font-size: larger;
}

.blocks-container {
  display: flex;
  flex-direction: column;
}

.block {
}

button {
  width: 100px;
  align-self: flex-end;
}
